# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Студенты/

# Игнорировать папку Debug
Debug/

# Игнорировать папку x64
x64/

# Игнорировать папки с пользовательскими настройками
*.user
*.userosscache
*.suo

# Игнорировать все папки с именем .vs, которые содержат настройки Visual Studio
.vs/

# Игнорировать папки с собранными бинарными файлами
bin/
obj/

# Игнорировать файлы, специфичные для проектов Visual Studio C++
*.VC.db
*.VC.VC.opendb

# Игнорировать файлы, которые могут появиться в процессе сборки
*.log
*.tlog
*.lastbuildstate